*{
    padding: 0;
    margin: 0;
    font-family:  "Poppins";
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: larger;
    font-weight: bolder;
    position: sticky;
    top: 0%;
    z-index: 9999;
    box-shadow: 1px 2px 2px black;
    background-color: #3CA6A6;
}

ul li{
    text-decoration: none;
    display:inline-block;
    padding: 5px;
    
    

}
.item{
    font-weight: 500;
    
}
.l1{
    text-decoration: none;
    color: black;
    position: relative;
    
}




.l1::after{
    content: "";
    position: absolute;
    width:0;
    height: 2px;
    background-color: black;
    bottom: 0;
    right: 50%;
    transition: 0.3s;

}

.l1:hover::after{
    width: 100%;
    right: 0;
}
.menu{
    font-size: larger;
    color: black;
    display: none;


}
@media screen and (max-width:480px) {
    .menu{
        display: block;
    }
    .item{
        display: none;
    }
}


.side .item1 ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

/* header starts*/
header{
   position: relative;
   overflow: hidden;
}
.text_img{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top: 10px;
    height: 660px;
    background-color:#0B2B40;
}
.text{
    text-align:left;
    margin-left: 10%;
    margin-right: 10%;
    color: #E4F2E7;
    
    
}
header h1 ,h2{
    font-weight: 400;
    
    
}

.image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: floatimg 2s ease-in-out infinite;

    
}
@keyframes floatimg {
    0%{
        transform: translateY(0);
    }
    50%{
        transform:translateY(-2rem);

    }
    100%{
        transform: translateY(0);
    }
}
.icons{
    margin-top: 20px;
}
.icons a{
    padding: 20px;
    font-weight: bolder;
    font-size: 30px;
    color: #E4F2E7;
    
}
/* slider*/
.side{
    width: 100%;
    background-color: aqua;
    margin-top: 10px;
    height: 660px;
    display:block;
    position: absolute;
    top: -2%;
    left: 110%;
    display:block;
    transition: 3s;
    
    
}
.download-btn{
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    margin: 10px 0px;
    cursor: pointer;
    
}
.download{
    padding: 10px 20px;
    font-size:larger ;
    text-decoration: none;
    color: black;
}

.fa-cloud-arrow-down{
    padding: 0px 5px;
    font-size: larger;
}
.download-btn::before{
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #0077b5;
    left: -100%;
    top: 0;
    border-radius: 50px;
}
.active{
    height: 10px;
    width: fit-content;
    transition: 2s ease;
}
.active::before{
    animation: layer 4s ease-in-out forwards;
}
@keyframes layer {
    100%{
        left: 0;
    }
}
.download_res{
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}
.active .download_res{
    transform: translateY(60px);
}
/*.download_res{
    margin: 5%;
    
    height: auto;
    
}
.download_res .download{
    
    border:1px solid white;
    padding: 10px 30px;
    color: black;
    border-radius: 50px;
    text-decoration: none;
    background-color: white;
    position: relative;
    font-size: larger;
    overflow: hidden;
}
.fa-cloud-arrow-down{
    padding: 0px 5px;
    font-size: larger;
}
.download_res .download:hover{
    
    color: black;
    cursor: pointer;
}
.download_res .active{
    height: 20px !important;

    width: 500px;
}
.download_res .active::before{
    animation: layer 6s ease-in-out forwards;
}
@keyframes layer {
    100%{
        left: 0;
    }
}
.download::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color:#1877F2  ;
    border-radius: 50px;
}*/

.fa-instagram{
    color:#FCAF45;
    
}
.fa-facebook{
    color:#1877F2 ;
}
.fa-whatsapp{
    color:#25D366;
}
.fa-linkedin{
    color:#0077b5 
}


@media screen and (max-width:480px) {
    .text_img{
        flex-direction: column-reverse;
    }
    .image{
        width: 200px;
        height: 200px;
        margin-top:5%;
    }
    .text{
        margin: 3%;
    }
    .icons a{
        padding: 20px;
        font-weight: bolder;
        font-size: 20px;
        
    }
    header h1 ,h2{
        font-size: large;
        font-weight: bold;
        
    }
    .text p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:20px;
        font-weight: 200;
    }
}

@media screen  and (max-width:700px){
    .menu{
        display: block;
    }
    .item{
        display: none;
    }
    .text_img{
        flex-direction: column-reverse;
    }
    header h1 ,h2{
        font-size:15px;
        font-weight: bold;
        
    }
    .icons a{
        padding: 10px;
        font-weight: bold;
        font-size: 15px;
        
    }
    .image{
        width: 200px;
        height: 200px;
        margin-top:2%;
    }
}

/*main*/

main{
    margin-right: 50px;
    margin-top: 300px;
    margin-bottom: 200px;
    margin-left: 50px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    
    
}

.main_img{
    width:400px;
    height: 400px;
}
.about{
    position: relative;
    text-align: center;
}
.text_content{
    text-align: center;
}
.text_content p{
    margin-top: 30px;

    
    
}
.about::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
}
@media screen and (max-width:480px) {
    .main_img{
        width: 250px;
        height: 250px;
    }
    main{
        margin-right: 50px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 50px;
    }
    
}
@media screen and (max-width:720px) {
    main{
        flex-direction: column;
        align-items:center;

    }
    .main_img{
        width: 300px;
        height: 300px;
    }
    
}
.hire_btn{

    text-align: center;
    margin: 50px;
    background-color: #0077b5;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    color: white;
}
/* main-2 starts here*/

.main_2{
    background-color: #0B2B40;
    color: white;
    position: relative;
    overflow: hidden;
    border-top: 5px solid black;
    
}
.main_2_head h2{
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    color: black;
    
}
.emp{
    background-color:white;
    width:300px;
    height:300px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.con_2{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 130px;
   
    
}
.python_dev h2,.sql_dev h2,.web_dev h2{
    font-size: 1.5vw;
    font-weight: 300;
    color: white;

}
.web_dev,.python_dev,.sql_dev{
    width: 500px;
    height: 400px;
    background-color: white;
    color:black;
    padding:150px 0px;
    position: relative;
    overflow: hidden;
    border-top: 5px solid white;
    
}
.web_icon, .py_icon,.sql_icon{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    text-align: center;
    color: white;

}
.py_text,.sql_text,.web_text{
    padding: 0px 30px;
    font-size: 1vw;
    font-weight: 400;
}
.emp_1{
    width: 300px;
    height: 300px;
    background-color: #0B2B40;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-50%,-50%);

}


@media screen and (max-width:480px) {
    .con_2{
        flex-direction: column;
    }
    .python_dev h2,.sql_dev h2,.web_dev h2{
        font-size: 3vw;
        font-weight: 900;
        color: white;
    
    }
    .py_text,.sql_text,.web_text{
        font-size: 2vw;
        padding: 0px 75px;
    }
    .web_dev,.python_dev,.sql_dev{
        height: fit-content;
    }
}

/* main-3 starts here*/

.skill_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size:xx-large;
    font-weight: bolder;
    margin-top: 100px;
}
.skill_heading::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    right:50%;
    transition: 1s;
    background-color: #0B2B40;
}
.skill_heading:hover::after{
    width: 100%;
    right: 0;
}
.skillsets{
    margin:200px 0px;

    display: flex;
    gap:50px;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    

}
.skill{
    width: 200px;
    height: 250px;
    background-color: #0B2B40;
    color: #E4F2E7;
    position: relative;
    border-radius: 10px;
}
.skill .fa-beat{
    font-size: 100px;
    margin: 20px 100px;
    cursor: pointer;

}

.skill h2{
    margin:0px 10px;
}

.star_html .one,.two,.three,.four{
    color:yellow;
}

.star_css .one,.two,.three,.four{
    color:yellow;
}
.star_js .one,.two,.three{
    color: yellow;
}
.star_py .one,.two,.three,.four{
    color:yellow;
}
.star_sql .one,.two,.three,.four{
    color: yellow;
}
.star_js .four4{
    color: white;
}


/* contact form starts here*/

.contact {
    background-color: #0B2B40;
    margin:50px 0px;
    padding: 1px 0px;
}
.formstart{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
label{
    color: azure;
    text-align: left;
}
input{
    width: 300px;
    padding: 10px 10px;
    outline: none;
    border-radius: 50px;
    
}
textarea{
    resize: none;
    padding: 10px 10px;
    outline: none;
    border-radius: 10px;
}
.submit_btn{
    padding: 10px 30px;
    background-color:#1877F2;
    cursor: pointer;
}

/*contact-info strats here*/

.contact_info{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.location,.phone,.mail{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.con_information a{
    text-decoration: none;
    color: #0077b5;
}

/*footer*/
.footer{
    text-align: center;
    margin-top: 30px;
    background-color: #0B2B40;
    padding: 30px 0px;
    color: white;
}